@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

*.slabbed {
  font-family: 'Roboto Slab', serif;
}