@charset "utf-8";
@import url('css/normalize.css');
@import url('css/fonts.css');
@import url('css/responsive.css');

:root {
  --color-danger: #E80000;
  --color-alert: #FFAE00;
  --color-success: #00A800;
  --color-info: #09C;
}

html {
  background: #eee;
}

html.noscroll {
  overflow: hidden;
  visibility: hidden;
}

body {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

body * {
  line-height: 22px;
}

hr {
  margin: 25px 0;
  padding: 0;
  width: 100%;
  clear: both;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

a {
  color: #a10000;
  text-decoration: underline;
  transition: all .3s linear;
  cursor: pointer;
}

a:active,
a:hover {
  color: #f10000;
}

a:visited {
  color: #f00
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 32px;
  margin: 0 0 20px;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 30px;
  margin: 0 0 20px
}

h2 {
  font-size: 28px;
  line-height: 26px;
  margin: 0 0 15px
}

h3 {
  font-size: 26px
}

h4 {
  font-size: 24px
}

h5 {
  font-size: 20px
}

p {
  margin: 0 0 10px
}

*>p:last-child {
  margin: 0
}

ol:not([class]),
ul:not([class]) {
  margin: 0 0 10px;
  padding: 0
}

ol:not([class]):last-child,
ul:not([class]):last-child {
  margin-bottom: 0
}

p+ol:not([class]),
p+ul:not([class]) {
  margin-top: 10px
}

ol:not([class]) li,
ul:not([class]) li {
  margin: 0 0 2px;
  list-style-position: inside
}

form {
  display: block;
  clear: both;
  width: 100%
}

label {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-bottom: 10px;
  z-index: 1
}

label[data-width=full] {
  width: 100%
}

label[data-width=half] {
  width: 50%
}

label[data-width=full]+label[data-width=half] {
  padding-right: 5px
}

label[data-width=half]+label[data-width=half] {
  padding-left: 5px
}

label[data-width=half]:nth-child(2n)+label[data-width=half] {
  padding-left: 0
}

label[data-width=fourth] {
  width: 25%
}

label[data-width=fourth]:nth-of-type(4n)+label[data-width=fourth] {
  padding-left: 0
}

label[data-width=fourth]+label[data-width=fourth],
label[data-width=full]+label[data-width=fourth]:nth-child(3n)+label[data-width=fourth] {
  padding-left: 5px !important
}

label[data-align=right] {
  text-align: right
}

label[data-align=center] {
  text-align: center
}

label>* {
  user-select: none
}

.button,
button,
input,
select,
textarea {
  appearance: none;
  transition: box-shadow .2s linear
}

a.button {
  text-decoration: none;
  color: inherit;
}

.button,
.input-file,
button,
input,
select,
textarea {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #aaa;
  background: #fff;
  outline: 0;
  border-radius: 2px
}

.button:hover,
.input-file:hover,
button:hover,
input:hover,
input[type=submit]:hover,
select:hover,
textarea:hover {
  box-shadow: 0 1px 7px rgba(0, 0, 0, .15)
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 1px 14px rgba(0, 0, 0, .1)
}

.input-file,
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
select:not([multiple]),
textarea {
  padding: 0 10px;
  line-height: 30px;
  width: 100%
}

.input-file,
input[type=datetime-local],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
select:not([multiple]) {
  height: 40px
}

input[type=range] {
  height: 5px;
  border-radius: 5px;
  border: none
}

input[type=range]:focus {
  outline: 0
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: linear-gradient(to top, #efefef, #fff);
  cursor: pointer;
  margin: -8px 0 0;
  box-shadow: inset 0 1px 0 #fff, 0 2px 4px rgba(0, 0, 0, .1)
}

input[type=range]::-webkit-slider-runnable-track {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #ccc;
  border-bottom: 1px solid #aaa
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=checkbox],
input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 7px 0 0
}

input[type=radio] {
  border-radius: 20px
}

input[type=color] {
  position: relative;
  padding: 0;
  margin: -4px 7px -4px -3px;
  vertical-align: middle;
  height: 38px;
  width: 38px;
  background: 0 0;
  border: none
}

input[type=radio]:checked {
  background-image: url(i/round.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12px
}

input[type=checkbox]:checked {
  background-image: url(i/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px
}

select:not([multiple]) {
  padding-right: 40px;
  background-image: url(i/expander.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 20px;
  color: #555;
  line-height: 22px
}

.button,
.input-file,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  font-weight: 700;
  height: 40px;
  line-height: 36px;
  padding: 0 20px;
  background: linear-gradient(to top, #efefef, #fefefe);
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #ccc
}

.button:active,
.input-file:active,
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
  line-height: 40px;
  background: linear-gradient(to bottom, #efefef, #fefefe);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .05)
}

textarea {
  resize: none
}

main#app {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 10% 0 0;
  margin: 0;
}

main#app h1.page-header {
  display: inline-block;
  color: #673ab8;
  text-transform: uppercase;
  margin-bottom: 40px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 2px;
}

article.user-card-wrapper {
  width: fit-content;
  margin: 0 auto;
}

section.user-card {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px;
  text-align: left;
  background: #fff;
  border-bottom: 2px solid #eee;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .05);
  overflow: hidden;
  transition: all .2s linear;
}

article.user-card-wrapper:hover section.user-card {
  filter: blur(1px);
  transform: scale(.95);
}

article.user-card-wrapper:hover section.user-card:hover {
  filter: blur(0);
  transform: scale(1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
}

section.user-card .user-name-wrapper {
  position: relative;
  background: #673ab8;
  color: #fff;
  padding: 20px;
  height: 100px;
}

section.user-card:nth-child(2n) .user-name-wrapper {
  background: #3a7fb8;
}

section.user-card:nth-child(3n) .user-name-wrapper {
  background: #b83a7f;
}

section.user-card:nth-child(3n) .user-name-wrapper {
  background: #b8903a;
}

section.user-card .user-name-wrapper h3 {
  position: absolute;
  bottom: 10px;
  margin: 0;
  font-size: 18px;
}

section.user-card .user-description-wrapper {
  position: relative;
  padding: 20px;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.user-card .user-description-wrapper:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(to top, #fff, #fff 25%, transparent);
  z-index: 5;
}

section.user-card .modifier {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  z-index: 2;
  border-radius: 4px;
  top: -70%;
  opacity: 0;
  transition: all .2s linear;
}

section.user-card .modifier+.modifier {
  right: 60px;
  transition: all .3s linear;
}

section.user-card .modifier[data-modify="remove"]:before,
section.user-card .modifier[data-modify="edit"]:before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
}

section.user-card .modifier[data-modify="remove"]:before {
  background: url(i/remove.svg) no-repeat center center;
  background-size: 50%;
}

section.user-card .modifier[data-modify="edit"]:before {
  background: url(i/edit.svg) no-repeat center center;
  background-size: 50%;
}

section.user-card .modifier[data-modify="remove"]:active:before,
section.user-card .modifier[data-modify="edit"]:active:before {
  background-size: 60%;
}

section.user-card:hover .modifier {
  top: 10px;
  opacity: .8;
}

section.user-card .modifier:hover {
  opacity: 1;
}

.form-wrapper[data-visibility="button"] {
}

.form-wrapper[data-visibility="button"] form {
  display: none;
  visibility: hidden;
}

.button.form-caller {
  display: block;
  width: fit-content;
  margin: 40px auto;
}

.form-wrapper[data-visibility="button"] .button.form-caller {
  border-radius: 40px;
  cursor: default;
}

.form-wrapper[data-visibility="form"] {
  position: fixed;
  box-sizing: border-box;
  padding: 30px 20px 20px;
  top: 10%;
  left: 50%;
  width: 300px;
  margin: 0 -150px;
  background: rgba(255,255,255,.7);
  backdrop-filter: blur(5px);
  border: 1px solid #eee;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
  text-align: left;
  z-index: 99;
}

.form-wrapper[data-visibility="form"] .button.form-caller {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  font-size: 0;
  margin: 0;
  border: none;
  height: 20px;
  width: 40px;
  background: #E80000 url(i/close.svg) no-repeat center center;
  background-size: 30%;
}

label[data-width="full"] input {
  width: 100%;
}

footer {
  position: relative;
  bottom: 20px;
  width: 100%;
  font-size: 11px;
  color: #ddd;
  text-align: center;
}

